<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2022 Mon Logistics Group <https://www.mlholding.mn>
    Created by Umbaa. 2022-12-02
  -->
<odoo>

    <record id="mlw_dashboard_action" model="ir.actions.client">
      <field name="name">Dashboard SS</field>
      <field name="tag">mlw_dashboard_tags</field>
    </record>

    <!-- Top menu item -->
    <record id="mlw_dashboard_action" model="ir.actions.client">
      <field name="name">Dashboard</field>
      <field name="tag">mlw_dashboard_tags</field>
    </record>
    <menuitem id="menu_worldwide_root"
              web_icon="ml_worldwide-main,static/description/icon.png"
              name="Worldwide Freights"
              action="mlw_dashboard_action"
              sequence="0"/>

    <menuitem id="menu_worldwide_master"
              parent="menu_worldwide_root"
              name="Freights"
              action=""
              sequence="100"/>
              
    <menuitem id="menu_worldwide_configuration"
              parent="menu_worldwide_root"
              name="Configuration"
              action=""
              sequence="150"/>

    <menuitem id="menu_worldwide_data"
              parent="menu_worldwide_root"
              name="Data"
              action=""
              sequence="200"/>  

    <menuitem id="menu_worldwide_master_data"
              parent="menu_worldwide_root"
              name="Master data"
              action=""
              sequence="300"/>
    <menuitem id="menu_worldwide_etc"
              parent="menu_worldwide_root"
              name="Etc"
              action=""
              sequence="350"/>
    <menuitem id="menu_worldwide_customer_app"
              parent="menu_worldwide_root"
              name="Customer App"
              action=""
              sequence="360"/>                     

    <menuitem name="Insurance appindex" id="menu_insurance_appendix" action="insurance_appendix_action" sequence="502" parent="menu_worldwide_master"/>

</odoo>
